# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual Environment
venv/
.env/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Training dataset (do not upload)
flower_photos/
dataset/